
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account Buddy</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/SignalR/Hubs"></script>
</head>
<body>
    <div ng-app="WebAdmin" >        
        <div ng-include="'/Home/Login'"></div>
        <div ng-include="'/Home/Main'"></div>        
    </div>

    <script src="~/Scripts/ng/Main.js"></script>
    <script src="~/Scripts/ng/Config.js"></script>
    <script src="~/Scripts/ng/Login.js"></script>
    <script src="~/Scripts/ng/Dashboard.js"></script>
    <script src="~/Scripts/ng/AppMaster.js"></script>
    <script src="~/Scripts/ng/Connection.js"></script>
</body>
</html>
